* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa url(../images/dot-pattern.png);
  background-size: 30px;
  color: #212121;
  line-height: 1.5;

}

#search-box {
  font: inherit;
  padding: 20px 15px;
  max-width: 400px;
  margin-bottom: 16px;
  width: 100%;
}
.country-list,
.country-info {
  list-style-type: none;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}
form#search-form {
  width: 100%;
  background: #00ffad6b;
  text-align: center;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button[type="submit"] {
  width: 150px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  background: repeating-linear-gradient(45deg, #00000038, #00000036 100px);
}

input[type="text"] {
  width: 270px;
  border-radius: 5px;
  border: 1px solid red;
  box-sizing: border-box;
  height: 45px;
}
input,
textarea {
  padding: 8px;
  font: inherit;
}

textarea {
  resize: none;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style-type: none;
  margin: 0 auto;
  padding: 40px;
}
.image-thumb {
  width: 100%;
  height: 400px;
}
.photo-card {
  background: #00ffa11a;
}
.photo-card img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
p.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load-more {
  margin: 0 auto;
  width: 100px;
  height: 2vw;
  border: none;
  background: #72af72;
  color: #fff;
  display: block;
}

@media screen and (max-width: 1300px){
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .info {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  }
}